.logos {
  background-color: #1d1d1d;
  overflow: hidden;
  padding: 1rem 0;
  border-radius: 1rem;
  white-space: nowrap;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos-slide {
  animation: 10s slide infinite linear;
  display: inline-block;
}

.logo {
  height: 15px;
  width: auto;
  margin: 0 1rem;
}

@media (min-width: 800px) {
  .logos-slide {
    animation: 15s slide infinite linear;
  }

  .logo {
    height: 25px;
  }
}
